body {
  background: grey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;

}

main {
  margin: 0 auto;
  max-width: 1440px;

  & div {
    color: yellow;

    @media (min-width: 768px) {
      color: var(--div-color);
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: var(--h2-font-size);
}

.header {
  @media (max-width: 768px) {
    height: 75vh;
    background-image: url(../images/FEND-Coffee-latte-art-3.jpg);
    background-size: cover;
    background-position: top;
  }
}

.logo-box {
  @media (max-width: 768px) {
position: absolute;
top: 10px;
left: 24px;
  }
}

.logo {
  height: 35px;
  width: 35px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: #1a1a1a 2px;
}

.heading-primary {
  color: #fff;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
}

.heading-primary-sub {
  color: #fff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
 } 

.button {
  color: #fff;
  font-family: "Roboto";
  background-color: #1a1a1a;
  border: 2px;
  border-radius: 5px;
  padding: 15px 50px 15px 50px;
  
}