.flexbox1 {
    padding: 0 2.4rem;
    /*border: 2px solid red;*/
    /*height: 382px;*/
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

   
}

.fi__1_1 {
    padding-bottom:  5%;
}

.fi__1_2 {
    padding-bottom: 5%;
}

.fi__1_3 {
    padding-bottom: 5%;
}

.fi__1_4 {
    padding-bottom: 5%;
}


.fi__1_5 {
    padding: 0 0 0 25%;
    align-self: flex-end;
    /*max-width: 100%;
    height: auto;*/
}

.flexbox2 {
    padding: 0 2.4rem;
    margin: 5% 0 10% 0;
    display: flex;
    flex-wrap: wrap;
    /*border: 2px solid red;*/
    justify-content: space-between;
}

.fi__2_1 {
    padding-bottom: 5%;    
}

.fi__2_2 {
    padding-bottom: 5%;
}

.fi__2_3 {    
    padding: 0 25% 0 0;
}

.flexbox3 {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    /*border: 2px solid red;*/
    justify-content: space-around;
}

.fb__CostaRica {
    display: flex;
    flex-wrap: wrap;
    /*border: 2px solid red;*/
    flex-direction: column;
    margin-top: 30px;
}


.fi__Costa_Rica_2 {
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: 21.09px;   
}

.fi__Costa_Rica_3 {
    font-size: var(--bodym-font-size);
    font-weight: var(--bodym-font-weight);
    line-height: var(--bodym-line-height);
    color: var(--medium-grey);
}

.fi__3_6 {
    margin: 15% 0;
}

.fb__herkunft {
    background-image: url(../../images/FEND-Coffee-bags-2.jpg);
    display: flex;
    color: var(--white);
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    justify-content: space-around ;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 50vh; 
}

.fi__herkunft_3 > a {
    font-size: var(--bodym-font-size);
    font-weight: var(--bodym-font-weight);
    line-height: var(--bodym-line-height);
    text-decoration: none;
    color: var(--white);


}

.fb__inhalt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 15% 0;
}

.fi__inhalt_1 {
    padding-bottom: 5%;
}

.fi__inhalt_2 {
    padding-bottom: 5%;
}

.fb__inhalt_sub {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    padding-bottom: 5%;
}

.fb__karte {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fi__karte_1 {
    padding-bottom: 5%;
}

.fb__footer {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--black);
    color: var(--white);
    justify-content: space-around;
    flex-direction: column;
    padding: 15% 2.4rem;
    
}

.footer_img {
    margin-bottom: 2rem;
} 

.footer_sub {
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: 2.1rem;
}

.fb__footer_ort_zeit {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5%;
}

.fb__footer_ort_zeit > * {
    flex-grow: 1;
}


#footer_text_schwarz {
    color: var(--black);
}



.fb__footer_link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.fb__footer_link > * {
    flex-grow: 1;
}


.fi__footer_4 > a {
    font-size: var(--bodym-font-size);
    font-weight: var(--bodym-font-weight);
    line-height: var(--bodym-line-height);
    text-decoration: none;
    color: var(--white);
}


.fi__footer_5 > a {
    font-size: var(--bodym-font-size);
    font-weight: var(--bodym-font-weight);
    line-height: var(--bodym-line-height);
    text-decoration: none;
    color: var(--white);
}






