.videobox__ursprung {
    padding: 0 2.4rem;
}

.fb__anbaugebiete {
    padding: 0 2.4rem;
}

.fi__anbaugebiete_1 {
    padding: 0 0 5% 0;
}

.fi__anbaugebiete_2 {
    padding: 0 0 15% 0;
}

.fi__anbaugebiete_3 {
    padding: 0 0 0 25%;
}

.fb__kaffeebauern {
    padding: 0 2.4rem;
}

.fi__kaffeebauern_3 {
    padding: 10% 25% 0 0;
}