.hero {
  height: 75vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../../images/FEND-Coffee-latte-art-3.jpg);
  background-size: cover;
  background-position: top;

}

.hero-title {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
  z-index: 10;
}

.hero-img {
  filter: grayscale(50%);
  z-index: 5;
}