.hero {
  height: 75vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../../images/FEND-Coffee-latte-art-3.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  @media (min-width: 992px) {
    height: 65vh;
    background-position: center;
  }
}

.logo-box {
  position: absolute;
  top: 1rem;
  left: 2.4rem;  
}


.logo-w {
  height: 3.5rem;

}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-primary {
  color: var(--white);
  margin-bottom: 6rem;
  
  
}

.hero-primary-main {
  display: block;
  font-size: var(--h1m-font-size);
  font-weight: var(--h1m-font-weight);
  line-height: 7.5rem;
  text-align: center;
  padding-top: 193px ;
  @media (min-width: 992px) {
    font-size: var(--h1-font-size);
  }
}

.hero-primary-sub {
  display: block;
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: 2.1rem;
  text-align: center;
}

.hero1 {
  height: 50vh;
  background-size: cover;
  background-position: center;
  position: relative;  
  background-image: url(../../images/FEND-Coffee-shop.jpg) ;
}

.hero2 {
  height: 50vh;
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: url(../../images/FEND-Coffee-beans-hand-2.jpg) ;
}
