* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
  background: var(--white);
  
  @media (min-width: 768px) {
    color: red;
  }
}

main {
  margin: 0 auto;
  max-width: 1440px;
  color: var(--black);


    @media (min-width: 768px) {
      color: var(--div-color);
    }
  }

h2 {
    font-size: var(--h2m-font-size);
    font-weight: var(--h2m-font-weight);
    line-height: var(--h2m-line-height);
  }

img {
  max-width: 100%;
  height: auto;
}



