*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}


body {
  font-family: 'Roboto', sans-serif;
  background: var(--white);
  box-sizing: border-box;
  
  @media (min-width: 768px) {
    color: red;
  }
}

main {
  margin: 0 auto;
  max-width: 1440px;
  color: var(--black);


    @media (min-width: 768px) {
      color: var(--div-color);
    }
  }

h2 {
    font-size: var(--h2m-font-size);    
    font-weight: var(--h2m-font-weight);
    line-height: var(--h2m-line-height);
  }

h3 {
  font-size: var(--h3m-font-size); 
  line-height: var(--h3m-line-height);
}

p {
  font-size: var(--bodym-font-size);
  font-weight: var(--bodym-font-weight);
  line-height: var(--bodym-line-height);
}

img {
  max-width: 100%;
  height: auto;
}



