:root {
  /* Colors */

  --white: #fff;
  --black: #1a1a1a;
  --beige: #d7be9d;
  --petrol: #006d7e;
  --rosa: #edd1c9;
  --orange: #d77c12;
  --medium-grey: #737373;
  --light-grey: #e9e9e9;
  


  /* Text Styles Browser*/
  --h1-font-weight: 900;
  --h1-font-size: 9.6rem;
  --h1-line-height: 1.1;
 

  
  --h2-font-weight: 900;
  --h2-font-size: 4.8rem;
  --h2-line-height: 1.1;


  
  --h3-font-weight: 900;
  --h3-font-size: 4.2rem;
  --h3-line-height: 1.1;

  /* auch als Subhead m  mit line-height 21.09px einzusetzen */
  
  --body-font-weight: 400;
  --body-font-size: 1.8rem;
  --body-line-height: 1.3;


  /* Text Styles Mobile */

  
  --h1m-font-weight: 900;
  --h1m-font-size: 6.4rem;
  --h1m-line-height: 1.1;


  
  --h2m-font-weight: 900;
  --h2m-font-size: 3.6rem;
  --h2m-line-height: 1.1;

  
  --h3m-font-weight: 900;
  --h3m-font-size: 3.2rem;
  --h3m-line-height: 1.1;

  
  --bodym-font-weight: 400;
  --bodym-font-size: 1.4rem;
  --bodym-line-height: 1.3;


}