:root {
  /* Colors */

  --white: #fff;
  --black: #1a1a1a;
  --beige: #d7be9d;
  --petrol: #006d7e;
  --rosa: #edd1c9;
  --orange: #d77c12;
  --medium-grey: #737373;
  --light-grey: #e9e9e9;
  


  /* Text Styles Browser*/
  --h1-font: "Roboto";
  --h1-font-weight: 900 black;
  --h1-font-size: 96px;
  --h1-line-height: 1.1;
 

  --h2-font: "Roboto";
  --h2-font-weight: 900 black;
  --h2-font-size: 48px;
  --h2-line-height: 1.1;


  --h3-font: "Roboto";
  --h3-font-weight: 900 black;
  --h3-font-size: 42px;
  --h3-line-height: 1.1;


  --body-font: "Roboto";
  --body-font-weight: 400;
  --body-font-size: 18px;
  --body-line-height: 1.3;


  /* Text Styles Mobile */

  --h1m-font: "Roboto";
  --h1m-font-weight: 900 black;
  --h1m-font-size: 64px;
  --h1m-line-height: 1.1;


  --h2m-font: "Roboto";
  --h2m-font-weight: 900 black;
  --h2m-font-size: 36px;
  --h2m-line-height: 1.1;

  --h3m-font: "Roboto";
  --h3m-font-weight: 900 black;
  --h3m-font-size: 32px;
  --h3m-line-height: 1.1;

  --body-font: "Roboto";
  --body-font-weight: 400;
  --body-font-size: 14px;
  --body-line-height: 1.3;


  








  
}